sphinx
sphinx-rtd-theme
sphinx-autobuild
sphinx_autodoc_typehints
nbsphinx
jupyter
anndata 
numpy 
torch
hnswlib
scipy
scikit-learn
tensorflow==2.8.0
deepcell_toolbox
scanpy
deepcell_tracking
spektral
protobuf==3.20.0
# -e ..
# -e ../deepcell_release